@mixin outer-bg {
  height: 200px;
  background-color: rgb(22, 72, 79);
  display: flex;
  justify-content: center;
  color: rgb(226, 245, 239);
  flex-direction: column;
  align-items: center;
}

.site {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .header {
    @include outer-bg();
  }

  .main-site {
    height: 100%;
    display: flex;
    justify-content: center;
  }

  .footer {
    @include outer-bg();
  }
}
